.audio-section {
  background: linear-gradient(180deg, #00a79e 0%, #00009f 100%);
}

.audio_packages .easy-cont {
  margin-top: -10rem;
}

.toggle-btn,
.toggler {
  display: inline-block;
  vertical-align: middle;
  margin: 10px 5px;
}

.toggler {
  color: var(--color-white);
  transition: 0.2s;
  font-weight: bold;
  opacity: 0.6;
}

.toggler--is-active {
  opacity: 1;
}

.b {
  display: block;
}

.toggle-btn {
  position: relative;
  width: 50px;
  height: 30px;
  border-radius: 50px;
  background-color: var(--color-aqua);
  overflow: hidden;
  box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.05);
}

.input-check {
  position: absolute;
  display: block;
  cursor: pointer;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 6;
}

.input-check:checked~.switch {
  right: 2px;
  left: 50.5%;
  transition: 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition-property: left, right;
  transition-delay: 0.08s, 0s;
}

.b.switch {
  position: absolute;
  left: 2px;
  top: 4px;
  bottom: 4px;
  right: 50.5%;
  background-color: #fff;
  border-radius: 50px;
  z-index: 1;
  transition: 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition-property: left, right;
  transition-delay: 0s, 0.08s;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.wrapper-full.hide {
  /* display: none; */
  visibility: hidden;
  height: 0;
}

.select-box {
  gap: 0.5rem;
  display: flex;
  width: fit-content;
  flex-wrap: wrap;
  width: -moz-fit-content;
  align-items: center;
  margin-left: auto;
  max-width: 250px;
}

.select-box label {
  font-size: 16px;
  line-height: 1;
  color: var(--color-white);
}

/* .select-list {
  height: 50px;
  border-radius: 5px;
  border: 0;
  width: 220px;
  padding: 1rem;
  color: var(--color-primary);
  font-size: 16px;
  font-weight: 500;
  outline: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: var(--color-white) url(../img/icon-dropdown.svg) 95% center/16px no-repeat;
} */

.audio_packages .hosting-cont {
  position: relative;
  background: var(--color-white);
  border: 2px solid var(--color-aqua);
}

.audio_packages .hosting-title {
  height: auto;
}

.audio_packages .hosting-title-price {
  margin-bottom: 0;
  font-size: 25px;
}

.audio_packages .hosting-sale-tag {
  color: var(--color-orange);
  font-size: 23px;
  line-height: 1;
}

.audio_packages .hosting-sale-tag del {
  color: var(--color-gray);
  font-size: 19px;
  margin-right: 0.75rem;
}

.audio_packages .hosting-cont select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: var(--color-white) url(../img/icon-dropdown.svg) 95% center/16px no-repeat;
  border: 2px solid var(--color-primary);
  border-left: 0;
  border-right: 0;
  font-size: 16px;
  line-height: 1;
  height: 40px;
  width: 270px;
  border-radius: 0;
  outline: none;
  color: var(--color-primary);
  font-weight: 500;
  margin: 0 0 1rem;
}

.audio_packages .hosting-cont .pop-badge {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  text-align: center;
  background: url(../img/most-popular-badge.svg) center/auto no-repeat;
  width: 90px;
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.audio_packages .hosting-cont .pop-badge span {
  font-size: 14px;
  color: var(--color-white);
  text-transform: uppercase;
  font-weight: 400;
  display: inline-block;
}

.audio_packages .ht-arrow-left,
.audio_packages .ht-arrow-right {
  display: none;
}

.month-3,
.month-6,
.year-1,
.year-2 {
  display: none;
}






/** Custom Select **/
.custom-select-wrapper {
  position: relative;
  display: inline-block;
  user-select: none;
  cursor: pointer;
}

.custom-select-wrapper select {
  display: none;
}

.custom-select {
  position: relative;
  z-index: 3;
  display: inline-block;
  font: 13px/1.5 "Roboto", sans-serif;
}

.custom-select-trigger {
  position: relative;
  display: block;
  min-width: 130px;
  padding: 0 104px 0 25px;
  font-weight: 100;
  color: #343637;
  line-height: 50px;
  background-color: #ffffff;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.custom-select-trigger:hover {
  -webkit-box-shadow: 0px 10px 50px 0px rgba(43, 111, 246, 0.1);
  box-shadow: 0px 10px 50px 0px rgba(43, 111, 246, 0.1);
}

.custom-select-trigger:before {
  position: absolute;
  display: block;
  content: "";
  width: 1px;
  height: 50px;
  top: 3px;
  right: 50px;
  margin-top: -3px;
  border-right: 1px solid #c7d1d6;
  transition: all 0.35s ease-out;
  transform-origin: 50% 0;
}

.custom-select-trigger:after {
  position: absolute;
  display: block;
  content: "";
  width: 10px;
  height: 10px;
  top: 50%;
  right: 20px;
  margin-top: -3px;
  border-bottom: 1px solid #c7d1d6;
  border-right: 1px solid #c7d1d6;
  transform: rotate(45deg) translateY(-50%);
  transition: all 0.35s ease-out;
  transform-origin: 50% 0;
}

.custom-select.opened .custom-select-trigger:after {
  margin-top: 3px;
  transform: rotate(-135deg) translateY(-50%);
}

.custom-options {
  position: absolute;
  display: block;
  top: 100%;
  left: 0%;
  right: 0;
  width: 100%;
  margin: 10px 0;
  border-radius: 5px;
  box-sizing: border-box;
  /*  box-shadow: 0 2px 1px rgba(0, 0, 0, .1); */

  background: #fff;
  transition: all 0.2s ease-in-out;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(-15px);
  border: 0;
}

.custom-select.opened .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transform: translateY(-8px);

  -webkit-box-shadow: 0px 10px 50px 0px rgba(43, 111, 246, 0.1);
  box-shadow: 0px 10px 50px 0px rgba(43, 111, 246, 0.1);
}

.option-hover:before {
  background: #f9f9f9;
}

.custom-option {
  position: relative;
  display: block;
  padding: 0 22px;
  font: 13px/1.5 "Source Sans Pro", monospace;
  font-weight: 600;
  color: #343637;
  line-height: 47px;
  cursor: pointer;
  transition: all 0.05s ease-in-out;
}

.custom-option:first-of-type {
  border-radius: 4px 4px 0 0;

  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.custom-option:last-of-type {
  border-bottom: 0;
  border-radius: 0 0 4px 4px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.custom-option:hover,
.custom-option.selection {
  color: #fff;
  background-color: var(--color-aqua);
}