.head-checkout {
  background: var(--color-primary);
}

.checkout-section {
  padding: 6rem 0;
}

/* Progressbar */
.progressbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  counter-reset: step;
  margin: 2rem 0 4rem;
  z-index: 1;
}

.bg-progress {
  width: 5rem;
  height: 5rem;
  background: var(--color-primary);
  border-radius: 50%;
}

.progressbar::before,
.progress {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 2px;
  width: 100%;
  background-color: #dcdcdc;
  z-index: -1;
}

.progress {
  background-color: var(--color-aqua);
  width: 0%;
  transition: 1s;
}

.progress-step {
  width: 5rem;
  height: 5rem;
  font-size: 40px;
  font-weight: 500;
  color: var(--color-primary);
  background-color: var(--color-white);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  opacity: 0.5;
  z-index: 1;
}

.progress-step::before {
  counter-increment: step;
  content: counter(step);
}

.progress-step::after {
  content: attr(data-title);
  position: absolute;
  top: calc(100% + 0.5rem);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: var(--color-white);
  min-width: 250px;
}

.progress-step-active {
  opacity: 1;
}

.form-step {
  display: none;
  transform-origin: top;
  animation: animate 1s;
}

.form-step-active {
  display: block;
}

@keyframes horizontal {
  0% {
    left: 0;
  }

  100% {
    left: 100%;
  }
}

@keyframes animate {
  from {
    transform: scale(1, 0);
    opacity: 0;
  }

  to {
    transform: scale(1, 1);
    opacity: 1;
  }
}

.basket-box {
  border-top: 1px solid var(--color-primary);
  border-bottom: 1px solid var(--color-primary);
}

.basket-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.basket-list .df>img {
  height: 25px;
  margin-right: 10px;
}

.basket-list span {
  font-weight: 200;
}

.basket-list .price-cart p span {
  font-size: 18px;
  font-weight: 400;
}

.basket-list .price-cart button {
  border: 0;
  background: transparent;
}

.basket-box .ms-input {
  width: auto !important;
  min-width: 220px;
}

.checkoutBtn {
  background: rgba(59, 147, 210, 0.1);
}

.checkoutBtn a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: var(--color-primary);
  padding: 0.75em;
}

.bill-box {
  border: 2px solid var(--color-primary);
  padding: 15px;
}

.bill-box .bill-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid var(--color-primary);
}

.bill-box .bill-list.total {
  border-bottom: 0;
}

.bill-box p {
  margin: 0;
}

.bill-box .bt-arrow {
  margin: 10px 0;
}

.del-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin: 10px auto;
  font-size: 14px;
  font-weight: 400;
  border: 0;
  background: transparent;
  color: var(--color-primary);
}

.del-cart img {
  width: 15px;
}

/* .basket-box.show .expand-list {
  display: block !important;
} */
.checkout-section .input-wrapper {
  margin-bottom: 1.5rem;
}

.checkout-section .ms-label {
  color: var(--color-blue);
  font-size: 16px;

}

.checkout-section .ms-input {
  min-height: 50px;
}

.hr-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin: 2rem 0;
}

.hr-line .line {
  display: block;
  height: 1px;
  background: var(--color-primary);
  width: 100%;
}

.social-btn {
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: center;
  text-align: center;
  height: 50px;
  width: 100%;
  margin: 10px 0;
  font-size: 16px;
  font-weight: 500;
  color: var(--color-primary);
  transition: .3s ease-in-out;
  border: 2px solid var(--color-primary);
}

.social-btn:hover {
  border-color: var(--color-blue);
  color: var(--color-blue);
}

.checkout-section .banner-list li::before {
  background: none;
  content: '\e904';
  font-family: 'icomoon';
  font-size: 20px;
  top: 0;
  color: #3B93D2;
  height: auto;
  width: auto;
  left: -5px;
}

/* billing-info */
.checkout-section .toggle-btn {
  border: 2px solid var(--color-primary);
  background: var(--color-white);
}

.checkout-section .b.switch {
  background: var(--color-blue);
}

.billing-info {}

.billing-info .top-wrap {
  margin-top: 1rem;
  border-bottom: 2px solid var(--color-primary);
  padding-bottom: 5px;
}
.billing-info .badge-wrap p{
  margin: 0;
}
.billing-row {
  padding: 15px 0;
  border-bottom: 1px solid var(--color-primary);
}

.billing-row .delbtn {
  border: 0;
  background: transparent;
}