.df {
  display: flex;
}

.aic {
  align-items: center;
}

.aie {
  align-items: flex-end;
}

.ais {
  align-items: flex-start;
}

.jcc {
  justify-content: center;
}

.jcb {
  justify-content: space-between;
}

.jce {
  justify-content: flex-end;
}

.jcs {
  justify-content: flex-start;
}

.fc {
  flex-direction: column;
}

.frr {
  flex-direction: row-reverse;
}

.fw {
  flex-wrap: wrap;
}

.fnw {
  flex-wrap: nowrap;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.mx-auto {
  margin: 0 auto;
}

.mb-0 {
  margin-bottom: 0;
}

.mt-0 {
  margin-top: 0;
}

.ttu {
  text-transform: uppercase;
}

.ttc {
  text-transform: capitalize;
}

.ttl {
  text-transform: lowercase;
}

.oh {
  overflow: hidden;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}


.banner-list {
  list-style: none;
  padding-left: 0;
}

.banner-list li {
  padding-left: 1rem;
  font-size: 20px;
  line-height: 28px;
  line-height: 2;
  letter-spacing: 0.6px;
  position: relative;
}

.banner-list li::before {
  content: "";
  height: 15px;
  width: 15px;
  position: absolute;
  left: 0;
  top: 12px;
  background: url(../img/icon-bullet.svg) left center/ auto no-repeat;
}

.paragraph {
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  color: var(--color-primary);
  letter-spacing: 0.54px;
}