figure {
  margin: 0;
}

.df {
  display: flex !important;
}

.aic {
  align-items: center !important;
}

.aie {
  align-items: flex-end !important;
}

.ais {
  align-items: flex-start !important;
}

.jcc {
  justify-content: center !important;
}

.jcb {
  justify-content: space-between !important;
}

.jce {
  justify-content: flex-end !important;
}

.jcs {
  justify-content: flex-start !important;
}

.fc {
  flex-direction: column !important;
}

.frr {
  flex-direction: row-reverse !important;
}

.fw {
  flex-wrap: wrap !important;
}

.fnw {
  flex-wrap: nowrap !important;
}

.ml-auto {
  margin-left: auto !important;
}

.mr-auto {
  margin-right: auto !important;
}

.mx-auto {
  margin: 0 auto !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mt-0 {
  margin-top: 0 !important;
}
.mr-2 {
  margin-right: 2rem;
}
.ml-2 {
  margin-left: 2rem;
}
.mr-3 {
  margin-right: 3rem;
}
.ml-3 {
  margin-left: 3rem;
}
.ttu {
  text-transform: uppercase !important;
}

.ttc {
  text-transform: capitalize !important;
}

.ttl {
  text-transform: lowercase !important;
}

.oh {
  overflow: hidden !important;
}

.gap-1 {
  gap: 1rem !important;
}

.gap-2 {
  gap: 2rem !important;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}
.clr-pink {
  color: var(--color-pink) !important;
}

.clr-blue {
  color: var(--color-blue) !important;
}

.clr-yellow {
  color: var(--color-yellow) !important;
}

.clr-orange {
  color: var(--color-orange) !important;
}

.map-img {
  margin: -5rem 0 0;
}

.bg-primary.partner-section {
  border-bottom: 1px solid var(--color-gray);
}

.bg-primary.partner-section .partner-logos-ul a > img {
  filter: brightness(0) invert(1);
}

.banner-list {
  list-style: none;
  padding-left: 0;
}

.banner-list li {
  padding-left: 1rem;
  font-size: 20px;
  line-height: 28px;
  line-height: 2;
  letter-spacing: 0.6px;
  position: relative;
}

.banner-list li::before {
  content: "";
  height: 15px;
  width: 15px;
  position: absolute;
  left: 0;
  top: 12px;
  background: url(../img/icon-bullet.svg) left center/ auto no-repeat;
}

.paragraph {
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  color: var(--color-primary);
  letter-spacing: 0.54px;
}

.unique-services {
  padding: 3rem 0 6rem;
}

.table-responsive {
  width: 100%;
  overflow-x: auto;
}

/* pagination */
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  list-style: none;
  padding: 0;
}

.pagination li a {
  height: 24px;
  width: 24px;
  display: inline-grid;
  place-items: center;
  color: var(--color-primary);
  font-size: 15px;
  font-weight: 400;
  line-height: 1;
  border: 2px solid transparent;
  border-radius: 5px;
}

.pagination li a.active {
  border: 2px solid var(--color-pink);
}

/* .lottie-json {
  position: absolute;
  right: 0;
  bottom: 8rem;
} */

.group-wrap {
  display: flex;
  gap: 0.25rem;
}

.keen-slider__slide {
  padding-top: 2rem;
}
.db-plan-box,
.hosting-cont {
  animation-delay: 0.1s;
  transition: transform 0.3s;
  background: var(--color-white);
}
.db-plan-box:hover,
.hosting-cont:hover {
  webkit-transform: translateY(-2rem);
  -moz-transform: translateY(-2rem);
  -ms-transform: translateY(-2rem);
  -o-transform: translateY(-2rem);
  transform: translateY(-2rem);
}
