.domain-privacy {
    padding: 4rem 0;
}

.domain-privacy .tools-cont ul {
    padding-left: 1rem;
    list-style: none;
}

.domain-privacy .tools-cont ul li {
    font-size: 18px;
    padding-left: 0;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 5px;
    position: relative;
    color: var(--color-primary);
}

.domain-privacy .tools-cont ul li::before {
    content: "\e904";
    position: absolute;
    left: -20px;
    color: var(--color-pink);
    top: 1px;
    font-family: 'icomoon';
}

.domain-privacy .tools-cont p {
    color: var(--color-primary);
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0.54px;
}