.domain-privacy {
    padding: 4rem 0;
}

.domain-privacy .tools-cont ul {
    padding-left: 1rem;
    list-style: none;
}

.domain-privacy .tools-cont ul li {
    font-size: 18px;
    padding-left: 0;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 5px;
    position: relative;
    color: var(--color-primary);
}

.domain-privacy .tools-cont ul li::before {
    content: "\e904";
    position: absolute;
    left: -20px;
    color: var(--color-pink);
    top: 1px;
    font-family: 'icomoon';
}

.domain-privacy .tools-cont p {
    color: var(--color-primary);
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0.54px;
}


/* whois-section */
.whois-section {
    /* padding: 4rem 0; */
}

.whois-list+.whois-list {
    border-top: 2px solid var(--color-pink);
}

.whois-list {
    padding: 20px 0;
}

.whois-list h2 {
    font-weight: 400;
}

.whois-list p {
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0.54px;
}

.whois-section .bt-arrow {
    margin-top: 20px;
}

.whois-search {
    padding: 2.5rem 0;
}


/* domain-backorder */
.domain-backorder {
    background: linear-gradient(180deg, #ec008c -40%, #00009f 100%);
    font-family: "Source Sans Pro", monospace;
    padding-bottom: 0 !important;
}

.domain-backorder figure img {
    margin: 0 -5rem 0 0;
}

/* domain-metafora */
.domain-metafora {
    background: linear-gradient(180deg, #ec008c -40%, #00009f 100%);
    font-family: "Source Sans Pro", monospace;
}

.domain-metafora .ms-input {
    padding-left: 1.5rem;
}

.domain-metafora .ms-input::placeholder {
    color: var(--color-blue);
}

.domain-metafora .input-wrap {
    margin: 0 0 0 10px;
}

.domain-metafora .input-radio:checked+label:before,
.domain-metafora .input-radio:not(:checked)+label:before {
    border-color: var(--color-white);
    background: transparent;
}

.domain-metafora .input-radio:checked+label:after,
.domain-metafora .input-radio:not(:checked)+label:after {
    background: var(--color-white);
}

.delrow-btn {
    color: var(--color-white);
    font-size: 1.875rem;
    display: inline-block;
    margin-left: 4.325rem;
}