.domain-tr-sec {
  background: linear-gradient(180deg, #ec008c -50%, #00009f 100%);
  min-height: 900px;
  display: flex;
  align-items: center;
  font-family: "Source Sans Pro", monospace;
}

.domain-tr-sec p {
  letter-spacing: 0.6px;
  font-size: 20px;
}

/* domain-section */
.domain-section {
  padding: 10rem 0 5rem;
}

.unique-services {
  padding: 2rem 0 6rem;
}