@media (max-width: 1249px) {

    .audio_packages .ht-arrow-left,
    .audio_packages .ht-arrow-right {
        display: block;
    }

    .audio_packages {
        background: var(--color-primary);
    }

    .audio_packages .easy-cont {
        margin-top: -1rem;
    }

    .map-img {
        margin-top: 0;
    }

    .marketplace-sec .group-wrap .tools-cont {
        min-height: 566px;
    }

    .domain-faq h1 br {
        display: none;
    }

    .domain-faq .search-wrapper-home {
        width: 100%;
        margin-right: 0;
    }
}

@media (max-width: 992px) {
    .audio-section {
        text-align: center;
    }

    .partner-logos-ul>li {
        width: 50%;
    }

    .mobile-logo {
        display: none;
    }

    .domain-section {
        padding: 4rem 0;
    }

    .domain-buy figure {
        margin: 0;
    }

    .sold-section.marketplace-sec .group-wrap {
        margin: 0;
        width: 100%;
        flex-wrap: wrap;
    }

    .marketplace-sec .group-wrap .tools-cont {
        min-height: auto;
        flex: none;
        width: 100%;
    }

    br {
        display: none;
    }

    .domain-faq figure {
        position: static;
    }

    .domain-faq .search-wrapper-home {
        margin-bottom: 3rem;
    }

    .faq-listing .tools-cont,
    .unique-services .tools-cont {
        margin-bottom: 1.25rem;
    }

}

@media (max-width: 767px) {

    .domain-pricelist .row.mt-5,
    .domain-marketplace .row.mt-5,
    .domain-sell .row.mt-5,
    .section .row .mt-5 {
        margin-top: 0rem;
    }

    .fs-53 {
        font-size: 42px;
    }

    .fs-40 {
        font-size: 30px;
    }

    .fs-32 {
        font-size: 25px;
    }

    .fs-28 {
        font-size: 24px;
    }

    .fs-26 {
        font-size: 22px;
    }

    .fs-23 {
        font-size: 20px;
    }

    .mobile-nav #main_menu .submenu-link {
        border-left: 0;
        border-right: 0;
    }

    .mobile-nav #main_menu .submenu-group-links {
        border-left: 0;
        border-right: 0;
    }

    .search-wrapper {
        margin-bottom: 3rem;
    }

    .unique-services .tools-cont {
        text-align: center;
    }

    .deg-wrap {
        margin: 0 auto 1rem;
    }

    .lottie-json {
        display: none;
    }

    .pannel-li li {
        width: 49%;
    }

    .mobile-logo-cont br {
        display: block;
    }

    .social-icons li {
        margin-bottom: 1.5rem;
    }

    .footer-icons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem 1.5rem;
        flex-wrap: wrap;
    }

    .copyright-text {
        text-align: center;
        margin: 5px 0 10px;
    }

    footer p.fs-28 {
        font-size: 28px;
        margin-bottom: 0.5rem;
    }

    footer .search-wrapper {
        margin-bottom: 2rem;
    }

    footer .search-wrapper p.fs-18 {
        letter-spacing: 4px;
    }

    footer .search-wrapper .btn-arrow {
        height: 60px;
    }

    footer .search-wrapper .form-input.form-input-lg {
        min-height: 60px;
    }

    .label-text {
        font-size: 16px;
        line-height: 1.5;
    }

    .offer {
        display: none;
    }

    .domain-slider-section .ht-arrow-left {
        left: -50px;
    }

    .domain-slider-section .ht-arrow-right {
        right: -50px;
    }
    .sold-section.domain-slider-section {
        padding-bottom: 6rem;
    }
}

@media (max-width: 575.98px) {
    .partner-logos-ul>li {
        width: 100%;
    }

    .audio_packages .hosting-cont {
        padding: 20px 2rem 20px 3rem;
    }

    .tablet-logo {
        display: none;
    }

    .mobile-logo {
        display: block;
        max-width: 55px;
    }

    .mobile-logo-cont .fs-13 {
        font-size: 11px;
    }

    .mobile-logo-cont {
        padding: 0;
    }

    .mobile-menu .header-right-pannel>li {
        height: 75px;
    }

    .mobile-nav {
        top: 77px;
        height: calc(100% - 77px);
        min-height: calc(100% - 77px);
    }

    .select-box {
        max-width: 175px;
    }

    .toggle-btn,
    .toggler {
        margin: 2px;
    }

    .custom-select-trigger {
        padding: 0 85px 0 25px;
    }

    .domain-slider-section,
    .domain-serv,
    .cta-section,
    .domain-pricelist,
    .domain-faq,
    .domain-marketplace,
    .domain-sell,
    .domain-buy,
    .unique-services,
    .domain-tr-sec {
        text-align: center;
    }

    .banner-list li {
        text-align: left;
    }

    .table-select label {
        font-size: 18px;
    }

    table .bt-arrow {
        font-size: 15px;
        padding: 0.75rem;
    }

    table .bt-arrow::after {
        display: none;
    }

    .badges-wrapper {
        gap: 1rem;
    }

    .input-group {
        flex-wrap: wrap;
    }

    .domain-pricelist .fs-53 {
        font-size: 40px;
    }

    .cta-section .group-wrap {
        justify-content: center;
    }

}


@media (min-width: 992px) {
    body.oh {
        overflow-x: hidden;
        overflow-y: auto;
    }
}