@media (max-width: 1249px) {

    .audio_packages .ht-arrow-left,
    .audio_packages .ht-arrow-right {
        display: block;
    }

    .audio_packages {
        background: var(--color-primary);
    }

    .audio_packages .easy-cont {
        margin-top: -1rem;
    }

    .map-img {
        margin-top: 0;
    }
}

@media (max-width: 992px) {
    .audio-section {
        text-align: center;
    }

    .partner-logos-ul>li {
        width: 50%;
    }

    .mobile-logo {
        display: none;
    }
}

@media (max-width: 767px) {
    .audio-section .row .mt-5 {
        margin-top: 0rem;
    }

    .fs-53 {
        font-size: 44px;
    }

    .fs-26 {
        font-size: 20px;
    }

    .mobile-nav #main_menu .submenu-link {
        border-left: 0;
        border-right: 0;
    }

    .mobile-nav #main_menu .submenu-group-links {
        border-left: 0;
        border-right: 0;
    }

}

@media (max-width: 575.98px) {
    .partner-logos-ul>li {
        width: 100%;
    }

    .audio_packages .hosting-cont {
        padding: 20px 2rem 20px 3rem;
    }

    .tablet-logo {
        display: none;
    }

    .mobile-logo {
        display: block;
        max-width: 55px;
    }

    .mobile-logo-cont .fs-13 {
        font-size: 11px;
    }

    .mobile-logo-cont {
        padding: 0;
    }

    .mobile-menu .header-right-pannel>li {
        height: 75px;
    }

    .mobile-nav {
        top: 77px;
        height: calc(100% - 77px);
        min-height: calc(100% - 77px);
    }

    .select-box {
        max-width: 175px;
    }

    .toggle-btn,
    .toggler {
        margin: 2px;
    }

    .custom-select-trigger {
        padding: 0 85px 0 25px;
    }
}


@media (min-width: 992px) {
    body.oh {
        overflow-x: hidden;
        overflow-y: auto;
    }
}